{% include "header.html" %}
    
    <header>
        <img
            class="brand"
            src="{{ url_for('static', filename='images/logo.png') }}"
            alt="logo"
        />

        <nav class="navbar">
            <a class="nav-item" href="#about">About</a>
            <a class="nav-item" href="#projects">Projects</a>
            <a class="nav-item" href="#contact">Contact</a>
        </nav>

        <div class="bars">
            <i class="fa-solid fa-bars" id="dropdown"></i>
        </div>
    </header>

    {% block main %}{% endblock %}

{% include "footer.html" %}