        <section id="contact">
            <footer>
                <div class="container">
                    <div class="footer">
                        <div class="section-title">
                            <h2 class="title-white">Contact</h2>
                        </div>
                        <div class="socials">
                            <a href="mailto:kvnvpham@gmail.com"
                                ><i class="fa-solid fa-envelope"></i
                            ></a>
                            <a href="#"><i class="fa-brands fa-github"></i></a>
                            <a href="#"
                                ><i class="fa-brands fa-linkedin"></i
                            ></a>
                            <a href="#"
                                ><i class="fa-brands fa-instagram"></i
                            ></a>
                        </div>
                        <div class="copyright">
                            <p>Copyright ©️ Kevin Pham {{ year }}</p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>

        <!-- Font Awesome -->
        <script
            src="https://kit.fontawesome.com/d48c10707a.js"
            crossorigin="anonymous"
        ></script>

        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
